body{
  background-color: rgb(0, 0, 0);
  color: rgb(185, 183, 156);
  background-image: url('./images/wallpaper3.jpeg');
  margin: 0px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.column{
  flex: 1;
}

.pageTitle{
      position: sticky;
      top: 0;
      z-index: 1000;
      text-align: center;
      margin: 0px;
      background-image: url('./images/wallpaper3.jpeg');
      max-width: 100%;
      padding-top: 0.5rem;
      text-decoration: underline;
      
      .subTitle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid black;
      }
      
}

