.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid blueviolet;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex: 0 0 calc(50% - 20px); /* The "50%" makes it take half the width, and the "- 20px" accounts for margins */
  margin: 10px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }
}

.columnTitle{
  background-color: rgb(139, 109, 186);
}