/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  margin: 0;
  padding: 1rem;
  box-sizing: border-box;
}

body {
  font-family: Oxygen, sans-serif;
  margin: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 2rem;
  justify-content: center;
}

.column{
  padding: 1rem;
}